
h1{
    width:10%;
    margin:auto;
    
}
html{
    height: 100%;
}
body{
    margin:0;
    padding:0;
	text-align: center;
    font-family: "Calibri MS", "Calibri" cursive;
    background-image: url(../Background/bg.jpg);
    background-size:100%;
    color:black;
    height: 100%;

}
h2{
    text-align: center;
    margin:auto;
    
}
h3{
    text-align: center;
    margin:auto;
  
} 
h4{
    text-align: center;
    margin:auto;
    background-color: hotpink;
    opacity: .5;
    width:70%;
    margin: auto;
    margin-bottom: -16px;
    min-height: 100%;
    
}
h5{
    text-align: center;
    margin:auto;
    
}
h6{
    text-align: center;
    margin:auto;
    
}

#bodyContent{
    background: rgba(245,245,245,0.85);
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    min-height: 100vh;
}
#AM{
    
    font-size: 14.8;
}

#ITSME{
    height: 70px;
    position: absolute;
    left: 0vw;
    top: 0vh;
}
#insta{
    height: 40px;
    position: absolute;
    left: 28vw;
    top: 90vh;
    
}
#twitter{
    height: 40px;
    position: absolute;
    left: 40vw;
    top: 90vh;
}

#insta2{
    height: 40px;
    position: absolute;
    left: 28vw;
    top: 80vh;
    
}
#twitter2{
    height: 40px;
    position: absolute;
    left: 40vw;
    top: 80vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
}

li {
    width: 100px;
    display: inline-block;
    font-family: sans-serif;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15.5px;
}

li a:hover {
    background-color: #111;
}
#Name{
    margin-top: 5%;
    text-align: center;
    width: 97%;
    position: static;
    margin-left: 10%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
* {
	position:relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#DCTS{
    width: 10%;
    position: static;
    margin-left: 28%;
}

#HU{
    width: 13%;
    position: static;
    margin-left: 15vw;
    margin-top: 8vh;
}

#m1{
    top: 5vh;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#learn{
    top: 5vh;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30%;
    margin-right:30%;
    text-align: center;
}

#about{
    font-size: 18px;
}

#infoa{
    font-size: 17px;
}

#email{
    padding: 1rem;
}
#submit{
    top: 0vh;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
	overflow-y: auto;
}

#bg {
	position: fixed;
	background-image: url(../Background/bg.jpg);
	background-position: top center;
	z-index: -1;
	top: 0; left:0;
	width: 100%;
	height: 100%;    
}
ul{
    text-align: center;
}
